body{
    padding: 3%;
    background-color: rgb(240, 244, 250);
}
.logo{
    margin-top: 20%;
}
.card{
    background: white;
}
.inscription{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.monP{
    font-size: 25px;
}
.face{
    color: blue;
    font-weight: bold;
}
input{
    border: 1px solid rgb(230, 223, 223);
}
input:hover{
    border: 1px solid blue;
}
.connect{
    background-color: blue !important;
}
a{
    text-decoration: none;
    font-weight: bold;
}
.ccompte{
    background-color: rgb(18, 214, 18) !important;
    color: white !important;
}